<div class="container-fluid">

<div class="row text-center">

<div class="col-sm-12">

<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi reiciendis sunt quibusdam ipsam dolorum officia, sit natus quis distinctio, quae voluptas aspernatur impedit tempore provident eos fugiat nobis consequuntur! Natus!</p>

</div>
</div>
</div>